<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj terminarz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="nav-main">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="System Liga" class="nav-logo">
    </div>

    <div class="nav-right">
        <a href="{{ url_for('index') }}">Start</a>
        <a href="{{ url_for('druzyny_list') }}">Drużyny</a>
        <a href="{{ url_for('zawodnicy_list') }}">Zawodnicy</a>
        <a href="{{ url_for('mecze_list') }}">Mecze</a>
        <a href="{{ url_for('strzelcy') }}">Strzelcy</a>
        <a href="{{ url_for('tabela_ligowa') }}">Tabela</a>
        <a href="{{ url_for('terminarz') }}">Terminarz</a>
        {% if not session.get('user_login') %}
            <a href="{{ url_for('login') }}">Logowanie</a>
        {% endif %}

        {% if session.get('rola') == 'Trener' %}
            <a href="{{ url_for('trener_select') }}">Panel trenera</a>
        {% endif %}

        {% if session.get('rola') == 'Administrator' %}
            <a class="nav-highlight" href="{{ url_for('admin_panel') }}">Panel admina</a>
        {% endif %}

        {% if session.get('user_login') %}
            <a href="{{ url_for('logout') }}">Wyloguj</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    <a class="btn" href="{{ url_for('admin_terminarze') }}">← Zarządzanie terminarzem</a>
    <br><br>

    <h2>Edytuj terminarz</h2>

    <div class="card">
        <form method="POST">
            <label>Nazwa sezonu</label>
            <input type="text" name="nazwa_sezonu" value="{{ terminarz[1] }}" required>

            <label>Data rozpoczęcia</label>
            <input type="date" name="data_rozpoczecia" value="{{ terminarz[2] }}" required>

            <label>Data zakończenia</label>
            <input type="date" name="data_zakonczenia" value="{{ terminarz[3] }}" required>

            <label>Status</label>
            <select name="status" required>
                <option value="planowany" {% if terminarz[4] == "planowany" %}selected{% endif %}>
                    planowany
                </option>
                <option value="aktywny" {% if terminarz[4] == "aktywny" %}selected{% endif %}>
                    aktywny
                </option>
                <option value="zakończony" {% if terminarz[4] == "zakończony" %}selected{% endif %}>
                    zakończony
                </option>
            </select>

            <br><br>

            <button class="btn" type="submit">Zapisz zmiany</button>
        </form>
    </div>

</div>

</body>
</html>
