<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Drużyny – System Liga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script>
  const links = document.querySelectorAll('.nav-right a');
  links.forEach(link => {
    if (link.href === window.location.href) {
      link.classList.add('active');
    }
  });
</script>
<body>

<nav class="nav-main">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="System Liga" class="nav-logo">
    </div>

    <div class="nav-right">
        <a href="{{ url_for('index') }}">Start</a>
        <a class="nav-highlight" href="{{ url_for('druzyny_list') }}">Drużyny</a>
        <a href="{{ url_for('zawodnicy_list') }}">Zawodnicy</a>
        <a href="{{ url_for('mecze_list') }}">Mecze</a>
        <a href="{{ url_for('strzelcy') }}">Strzelcy</a>
        <a href="{{ url_for('tabela_ligowa') }}">Tabela</a>
        <a href="{{ url_for('terminarz') }}">Terminarz</a>
        {% if not session.get('user_login') %}
            <a href="{{ url_for('login') }}">Logowanie</a>
        {% endif %}

        {% if session.get('rola') == 'Trener' %}
            <a href="{{ url_for('trener_select') }}">Panel trenera</a>
        {% endif %}

        {% if session.get('rola') == 'Administrator' %}
            <a href="{{ url_for('admin_panel') }}">Panel admina</a>
        {% endif %}

        {% if session.get('user_login') %}
            <a href="{{ url_for('logout') }}">Wyloguj</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    <a class="btn" href="{{ url_for('index') }}">← Strona główna</a>
    <br><br>

    <h2>Lista drużyn</h2>

    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Miasto</th>
                    <th>Punkty</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>

            <tbody>
                {% for t in teams %}
                <tr>
                    <td>{{ t[1] }}</td>
                    <td>{{ t[2] }}</td>
                    <td><b>{{ t[3] }}</b></td>
                    <td>
                        <a class="btn" href="{{ url_for('druzyna_detail', team_id=t[0]) }}">
                            Otwórz
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Brak drużyn w systemie.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
