<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja – System Liga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="nav-main">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="System Liga" class="nav-logo">
    </div>

    <div class="nav-right">
        <a href="{{ url_for('index') }}">Start</a>
        <a href="{{ url_for('druzyny_list') }}">Drużyny</a>
        <a href="{{ url_for('zawodnicy_list') }}">Zawodnicy</a>
        <a href="{{ url_for('mecze_list') }}">Mecze</a>
        <a href="{{ url_for('strzelcy') }}">Strzelcy</a>
        <a href="{{ url_for('tabela_ligowa') }}">Tabela</a>
        <a href="{{ url_for('terminarz') }}">Terminarz</a>
        {% if not session.get('user_login') %}
            <a class="nav-highlight" href="{{ url_for('login') }}">Logowanie</a>
        {% endif %}

        {% if session.get('rola') == 'Trener' %}
            <a href="{{ url_for('trener_select') }}">Panel trenera</a>
        {% endif %}

        {% if session.get('rola') == 'Administrator' %}
            <a href="{{ url_for('admin_panel') }}">Panel admina</a>
        {% endif %}

        {% if session.get('user_login') %}
            <a href="{{ url_for('logout') }}">Wyloguj</a>
        {% endif %}
    </div>
</nav>


<div class="container">

    <div class="card" style="max-width: 420px; margin: 40px auto; padding: 30px;">

        <h2 style="text-align:center; margin-bottom: 20px;">Rejestracja</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for cat, msg in messages %}
                    <div class="flash flash-{{cat}}">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <label>Login:</label>
            <input type="text" name="login" required>

            <label>Hasło:</label>
            <input type="password" name="password" required>

            <button class="btn" style="width: 100%; margin-top: 15px;">Utwórz konto</button>

        </form>

        <p style="text-align:center; margin-top: 15px;">
            Masz już konto?
            <a href="{{ url_for('login') }}">Zaloguj się</a>
        </p>

    </div>

</div>

</body>
</html>
