<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Tabela ligowa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="nav-main">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="System Liga" class="nav-logo">
    </div>

    <div class="nav-right">
        <a href="{{ url_for('index') }}">Start</a>
        <a href="{{ url_for('druzyny_list') }}">Drużyny</a>
        <a href="{{ url_for('zawodnicy_list') }}">Zawodnicy</a>
        <a href="{{ url_for('mecze_list') }}">Mecze</a>
        <a href="{{ url_for('strzelcy') }}">Strzelcy</a>
        <a class="nav-highlight" href="{{ url_for('tabela_ligowa') }}">Tabela</a>
        <a href="{{ url_for('terminarz') }}">Terminarz</a>
        {% if not session.get('user_login') %}
            <a href="{{ url_for('login') }}">Logowanie</a>
        {% endif %}

        {% if session.get('rola') == 'Trener' %}
            <a href="{{ url_for('trener_select') }}">Panel trenera</a>
        {% endif %}

        {% if session.get('rola') == 'Administrator' %}
            <a href="{{ url_for('admin_panel') }}">Panel admina</a>
        {% endif %}

        {% if session.get('user_login') %}
            <a href="{{ url_for('logout') }}">Wyloguj</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    <a class="btn" href="{{ url_for('index') }}">← Strona główna</a>
    <br><br>

    <h2>Tabela ligowa</h2>

    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Drużyna</th>
                    <th>Miasto</th>
                    <th>Punkty</th>
                    <th>Gole strzelone</th>
                    <th>Gole stracone</th>
                    <th>Bilans</th>
                </tr>
            </thead>

            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.nazwa }}</td>
                    <td>{{ row.miasto }}</td>
                    <td><b>{{ row.punkty }}</b></td>
                    <td>{{ row.gole_strzelone }}</td>
                    <td>{{ row.gole_stracone }}</td>
                    <td>{{ row.bilans }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">Brak danych do tabeli.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
